/* styles.css */

body {
    background-color: #f0f0f0; /* Background color for all pages */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bb005dfd;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Styling for the navigation links */
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
}

/* Add a hover effect to the links */
nav ul li a:hover {
    color: pink; /* Pink text color on hover */
}

section {
    padding: 20px;
}
